@import url("//hello.myfonts.net/count/3e7d84");

@font-face {
    font-family: 'AvertaStdPERegular';
    src: url('assets/fonts/AvertaStdPERegular/font.woff2') format('woff2'), url('assets/fonts/AvertaStdPERegular/font.woff') format('woff');
}
@font-face {
    font-family: 'AvertaStdPESemibold';
    src: url('assets/fonts/AvertaStdPESemibold/font.woff2') format('woff2'), url('assets/fonts/AvertaStdPESemibold/font.woff') format('woff');
}
@font-face {
    font-family: 'AvertaStdPEBold';
    src: url('assets/fonts/AvertaStdPEBold/font.woff2') format('woff2'), url('assets/fonts/AvertaStdPEBold/font.woff') format('woff');
}

body {
    font-family: 'AvertaStdPERegular', sans-serif;
    background-color:#f0f5f6;
    color: #2b393f;
}
.card {
    background-color: rgba(255, 255, 255, 0.2);
}
.card.ut-bgcolor {
    background-color: rgba(255, 255, 255, 0.5);
}

strong {
    font-family: 'AvertaStdPESemiBold', sans-serif;
}

a.ut-standard {
    transition: 0.3s;
    color: #00af92;
}

a.ut-standard:hover {
    color: #00E599;
}

h1, h2, h3, h4, h5, h6 {
    color: #2b393f;
    font-family: 'AvertaStdPESemiBold', sans-serif;
}

h2.card-title {
    margin-top: 10px;
    font-family: 'AvertaStdPEBold', sans-serif;
}

h3 {
    margin-top: 25px;
}

h4.ut-uc {
    font-family: 'AvertaStdPEBold', sans-serif;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-top: 20px;
    margin-bottom: 10px;
}

pre.ut-bg {
    border-radius: 2px;
    background-color: rgba(0,0,0,0.05);
    padding: 4px 7px;
}

pre.ut-inline {
    display: inline;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.05);
    padding: 4px 7px;
}

span.ut-required {
    margin: 0 5px;
    font-size: 0.8rem;
    font-family: 'AvertaStdPEBold', sans-serif;
    color: #e06a6e;
    text-transform: uppercase;
}

span.ut-nos {
    font-family: 'AvertaStdPEBold', sans-serif;
}

ul.ut-outline {
    font-family: 'AvertaStdPESemiBold', sans-serif;
}

li {
    margin-bottom: 10px;
}

img.ut-logo {
    height: 40px;
    display: inline;
    margin-right: 10px;
}

/* Layout */
.row {
    margin-bottom: 10px;
}

.row:first-child {
    margin-top: 10px;
}

.row:last-child {
    margin-bottom: 20px;
}

/* Accordion */
.accordion-button:not(.collapsed) {
    color: #00af92;
    background-color: rgba(0, 175, 146, 0.1);
}

/* Button */
.btn.btn-primary {
    border: none;
    transition: 0.3s;
    background-color: #00E599;
	color: white;
}

.btn.btn-primary:hover {
    border: none;
    background-color: #00af92;
}

.btn.btn-secondary {
    background-color: #2b393f;
}

/* Badge */
.bg-primary {
    letter-spacing: 0.05em;
    color: #fff;
    background-color: #2b393f!important;
}

/* Input Group */
.input-group-text {
    font-family: 'AvertaStdPESemiBold', sans-serif !important;
    font-weight: unset;
}